<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Barroc_IT.Properties.Settings.Barroc_IT_FinalConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Barroc_IT_Final;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>